<?xml version="1.0"?>
<!--
/**
 * O2TI Payment Subscription.
 *
 * Copyright © 2024 O2TI. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Console -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="subscription_create_new_order" xsi:type="object">O2TI\SubscriptionPayment\Console\ExecuteRecurring</item>
            </argument>
        </arguments>
    </type>

    <type name="O2TI\SubscriptionPayment\Model\Email\EmailNotification">
        <arguments>
            <argument name="templateContainer" xsi:type="object">Magento\Sales\Model\Order\Email\Container\Template</argument>
            <argument name="identity" xsi:type="object">O2TI\SubscriptionPayment\Model\Email\Container\SubscriptionIdentity</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="senderBuilderFactory" xsi:type="object">Magento\Sales\Model\Order\Email\SenderBuilderFactory</argument>
            <argument name="addressRenderer" xsi:type="object">Magento\Sales\Model\Order\Address\Renderer</argument>
            <argument name="paymentHelper" xsi:type="object">Magento\Payment\Helper\Data</argument>
        </arguments>
    </type>

    <!-- API -->
    <preference for="O2TI\SubscriptionPayment\Api\SubscriptionRepositoryInterface" type="O2TI\SubscriptionPayment\Model\SubscriptionRepository"/>

    <!-- Plugin para Definir o Cartão salvo como usavel para assinatura -->
    <type name="Magento\Vault\Api\PaymentTokenRepositoryInterface">
        <plugin name="o2ti_after_save_vault_card" type="O2TI\SubscriptionPayment\Plugin\BeforeSaveVaultCardPlugin" sortOrder="10"/>
    </type>

    <!-- Plugin para capturar detalhes de pagamento da assinatura - Cc -->
    <type name="PagBank\PaymentMagento\Observer\DataAssignCcObserver">
        <plugin name="pagbank_payment_subscription_cc_data_assign_plugin" type="O2TI\SubscriptionPayment\Observer\DataAssignCcObserverPlugin" sortOrder="10" />
    </type>

    <!-- Plugin para capturar detalhes de pagamento da assinatura - Pix e Boleto -->
    <type name="PagBank\PaymentMagento\Observer\DataAssignPayerDataObserver">
        <plugin name="pagbank_payment_subscription_cc_data_assign_plugin" type="O2TI\SubscriptionPayment\Observer\DataAssignPayerDataObserverPlugin" sortOrder="10" />
    </type>

    <!-- Altera prazo de pagamento do PIX para + 1 dia -->
    <type name="PagBank\PaymentMagento\Gateway\Request\QrCodeExpirationDateDataRequest">
        <plugin name="pagbank_payment_subscription_cc_data_assign_plugin" type="O2TI\SubscriptionPayment\Plugin\ModifyQrCodeExpirationDate" sortOrder="10" />
    </type>

    <!-- Plugin for popule subscription data -->
    <type name="Magento\Sales\Model\Order">
        <plugin name="custom_payment_subscription_plugin" type="O2TI\SubscriptionPayment\Plugin\OrderPlugin" sortOrder="10"/>
    </type>

    <!-- Cc Add Flag Recurring to Request -->
    <virtualType name="PagBankCcAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="flag_recurring" xsi:type="string">O2TI\SubscriptionPayment\Gateway\Request\CreditCard\RecurringDataRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Vault Add Flag Recurring to Request -->
    <virtualType name="PagBankCcVaultRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="flag_recurring" xsi:type="string">O2TI\SubscriptionPayment\Gateway\Request\CreditCard\RecurringDataRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Add New Config Provider for Type Recurring -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="pagbank_flag_recurring_config_provider" xsi:type="object">O2TI\SubscriptionPayment\Model\FlagRecurringConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>
