<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- <event name="sales_order_place_after">
        <observer name="custom_payment_subscription_observer" instance="O2TI\SubscriptionPayment\Observer\SaveSubscriptionData" />
    </event> -->
</config>
