<?xml version="1.0"?>
<!--
/**
 * O2TI Flag Recurring Module.
 *
 * Copyright © 2023 O2TI. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add New Config Provider for Type Recurring -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="o2ti_payment_subscription_config_provider" xsi:type="object">O2TI\SubscriptionPayment\Model\RecurringCycleConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
